
body {
    background-color: #cadbc3;  
    font-family: Arial, sans-serif;  
    text-align: center;
    margin: 0;
    padding: 0;
  }

p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;

}

footer {
  font-size: 20px;
}

a{
  font-size: 20px;
}

main{
  padding-top: 39px;
}

.footer{
  padding-top: 30px;
}

.contact-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

form {
      width: 100%;
      max-width: 600px;
}

form input,
  form textarea {
      width: 100%;
      padding: 15px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  form input:focus,
  form textarea:focus {
      background-color: #e6f2ff;
      border-color: #82dbeb;
      outline: none;
  }

  .submit-btn {
      background-color: #82dbeb;
      color: white;
      border: none;
      padding: 15px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      max-width: 500px;
      transition: background-color 0.3s ease;
  }

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}


.close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

img {
          width: 50%;
          height: auto;
          cursor: pointer;
        }
        
.container {
  padding: 10px;
}



@media screen and (max-width: 960px){
   
        body {
          background-color: #cadbc3;
          text-align: center;
          font-family: Arial, sans-serif;
          font-size: 10px;
        }
      
        h1 {
          font-size: 24px;
        }

        p {
            color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 15px;
        }
      
        

        
}