
body {
    background-color: #cadbc3;  
    font-family: Arial, sans-serif;  
    text-align: center;
    margin: 0;
    padding: 0;
  }

p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;

}

@media screen and (max-width: 960px){
   
        body {
          background-color: #cadbc3;
          text-align: center;
          font-family: Arial, sans-serif;
          font-size: 10px;
        }
      
        h1 {
          font-size: 24px;
        }

        p {
            color: black;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 15px;
        }
      
        .container {
          padding: 10px;
        }

        img {
          width: 100%;
          height: auto;
        }

        
}